# Byte-compiled / Python cache files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Cache de testes
.pytest_cache/
.coverage
htmlcov/

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Arquivos de dados gerados/temporários ou pesados
resultados.jsonl

# Configurações de IDE (VS Code / PyCharm)
.vscode/
.idea/

# Sistema Operacional (Windows / macOS / Linux)
Thumbs.db
Desktop.ini
.DS_Store